

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card my-4">
                <div class="card-header">
                    <h2>Shopping zone</h2>
                </div>
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis necessitatibus facere voluptates natus aliquam? Sed earum velit ipsum explicabo! Nam non optio nihil dicta quos tempora eaque voluptas libero corporis quo nisi dolores, hic molestiae vero asperiores illo eveniet quasi iusto quaerat quas iste distinctio inventore saepe? Unde sed maiores, corrupti placeat doloremque, quasi vel quos magnam dolore fugit nostrum temporibus fuga nobis, est mollitia porro incidunt corporis debitis voluptas. Repellat, velit facere. Tempore voluptatibus accusamus dolores expedita quia enim non suscipit ipsam sequi aliquam omnis cum praesentium minus reiciendis, vel ex maiores atque eius, doloremque esse repellat possimus. Facilis harum nostrum neque voluptatibus perferendis necessitatibus, culpa recusandae debitis dolor ullam natus incidunt dolorem laudantium ratione beatae nesciunt pariatur ut est error eum voluptatem nisi?
                    </p>
                </div>
                <div class="card-footer">
                    <i class="fa-solid fa-house fa-2x" routerLink=""></i>
                </div>
            </div>
        </div>
    </div>
</div>
