.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: orange !important;
}

#navbar-heading{
    color: white;
    text-decoration: underline;
    font-size: 35px;
}

#nav-home , #nav-users, #nav-products{
 color: white;
}

a:hover{
    scale: 1.2;
}
#navbarDropdown{
    color: white;
}