<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
    <a class="navbar-brand" href="#" id = "navbar-heading">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        >
          <a class="nav-link" id="nav-home" routerLink=""><i class="fa-solid fa-house " routerLink="">home</i> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/users" id="nav-users"><i class="fa-solid fa-user">user</i></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/products" id="nav-products"><i class="fa-brands fa-product-hunt">roducts</i></a>
          </li>
        
          <li class="nav-item dropdown" appClass>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <i class="fa-regular fa-address-card">about us</i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <a class="dropdown-item" routerLink="/about" >About Us</a>
              <a class="dropdown-item" routerLink="/contactus">contact us</a>
              
              
            </div>
          </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onclicklogout()">Sign Out </button>
      </form>
    </div>
  </nav>
